@font-face {
  font-family: 'gt';
  src: url('../font/gt.eot?95354561');
  src: url('../font/gt.eot?95354561#iefix') format('embedded-opentype'),
       url('../font/gt.woff2?95354561') format('woff2'),
       url('../font/gt.woff?95354561') format('woff'),
       url('../font/gt.ttf?95354561') format('truetype'),
       url('../font/gt.svg?95354561#gt') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'gt';
    src: url('../font/gt.svg?95354561#gt') format('svg');
  }
}
*/
 
 [class^="gt-"]:before, [class*=" gt-"]:before {
  font-family: "gt";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.gt-allowed_cond:before { content: '\e800'; } /* '' */
.gt-bike:before { content: '\e801'; } /* '' */
.gt-car:before { content: '\e802'; } /* '' */
.gt-charge:before { content: '\e803'; } /* '' */
.gt-control_vel:before { content: '\e804'; } /* '' */
.gt-denied_path:before { content: '\e805'; } /* '' */
.gt-eletric_mauer:before { content: '\e806'; } /* '' */
.gt-fleet:before { content: '\e807'; } /* '' */
.gt-follow_bike:before { content: '\e808'; } /* '' */
.gt-follow_car:before { content: '\e809'; } /* '' */
.gt-follow_fleet:before { content: '\e80a'; } /* '' */
.gt-follow_charge:before { content: '\e80b'; } /* '' */
.gt-fuel_man:before { content: '\e80c'; } /* '' */
.gt-in_your_hand:before { content: '\e80d'; } /* '' */
.gt-marker:before { content: '\e80e'; } /* '' */
.gt-out_of_traj:before { content: '\e80f'; } /* '' */
.gt-out_route:before { content: '\e810'; } /* '' */
.gt-safe:before { content: '\e811'; } /* '' */
.gt-store_data:before { content: '\e812'; } /* '' */
.gt-support:before { content: '\e813'; } /* '' */